In [1]:
import numpy as np
import pandas as pd

In [2]:
ah = pd.read_excel(r'C:\Users\LENOVO\Documents\Post Graduation\internship\car-data collection\ahmedabad.xlsx')
bn = pd.read_excel(r'C:\Users\LENOVO\Documents\Post Graduation\internship\car-data collection\bangalore.xlsx')
hy = pd.read_excel(r'C:\Users\LENOVO\Documents\Post Graduation\internship\car-data collection\hyderabad.xlsx')

In [3]:
cardekho = pd.concat([ah,bn,hy], axis = 0, ignore_index = True)

In [4]:
cardekho.head()

,price,year,title,fuel,trans,mile,color,owner,engine,seating,location,Body
0,422000,2019,2019 Maruti S-Presso,Petrol,Manual,24230 Kms,NaN,1st Owner,998,5.0,Ahmedabad,hatchback
1,585000,2018,2018 Maruti Swift,Diesel,Manual,31694 Kms,NaN,1st Owner,1248,5.0,Ahmedabad,hatchback
2,610000,2017,2017 Maruti Baleno,Petrol,Manual,49072 Kms,NaN,1st Owner,1197,5.0,Ahmedabad,hatchback
3,399000,2013,2013 Maruti Swift,Diesel,Manual,72301 Kms,NaN,1st Owner,1248,5.0,Ahmedabad,hatchback
4,600000,2019,2019 Maruti Swift,Petrol,Manual,21060 Kms,NaN,1st Owner,1197,5.0,Ahmedabad,hatchback

In [5]:
cardekho['make'] = cardekho['title'].str.split(' ', expand = True)[1]
cardekho['model'] = cardekho['title'].str.split(' ', expand = True)[2]

In [6]:
cardekho.head()

,price,year,title,fuel,trans,mile,color,owner,engine,seating,location,Body,make,model
0,422000,2019,2019 Maruti S-Presso,Petrol,Manual,24230 Kms,NaN,1st Owner,998,5.0,Ahmedabad,hatchback,Maruti,S-Presso
1,585000,2018,2018 Maruti Swift,Diesel,Manual,31694 Kms,NaN,1st Owner,1248,5.0,Ahmedabad,hatchback,Maruti,Swift
2,610000,2017,2017 Maruti Baleno,Petrol,Manual,49072 Kms,NaN,1st Owner,1197,5.0,Ahmedabad,hatchback,Maruti,Baleno
3,399000,2013,2013 Maruti Swift,Diesel,Manual,72301 Kms,NaN,1st Owner,1248,5.0,Ahmedabad,hatchback,Maruti,Swift
4,600000,2019,2019 Maruti Swift,Petrol,Manual,21060 Kms,NaN,1st Owner,1197,5.0,Ahmedabad,hatchback,Maruti,Swift

In [7]:
cardekho = cardekho.drop(columns = 'title')
cardekho['mile']  = cardekho['mile'].replace('Kms','')

In [8]:
cardekho['color'] = cardekho['color'].fillna(cardekho['color'].mode()[0])

In [9]:
cardekho['seating'] = cardekho['seating'].fillna(5)

In [10]:
cardekho.shape

(456, 13)

In [11]:
carwale = pd.read_excel(r'C:\Users\LENOVO\Documents\Post Graduation\internship\car-data collection\carwale.xlsx')

In [13]:
carwale = carwale.iloc[:,:13]
carwale.shape

(6325, 13)

In [14]:
carwale.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,5.9,2018.0,Volkswagen,Polo,Petrol,Manual,Ahmedabad,61982.0,Red,First,1198 cc,5,hatchback
1,7.25,2018.0,Maruti Suzuki,Swift,Diesel,Automatic,Ahmedabad,35387.0,White,First,1248 cc,5,hatchback
2,2.25,2013.0,Hyundai,Eon,Petrol,Manual,Ahmedabad,51600.0,Grey,Second,814 cc,5,hatchback
3,3.25,2013.0,Volkswagen,Polo,Diesel,Manual,Ahmedabad,65000.0,Silver,First,1199 cc,5,hatchback
4,6.25,2017.0,Hyundai,Elite i20,Diesel,Manual,Ahmedabad,56000.0,White,First,1396 cc,5,hatchback

In [26]:
carwale['price'].unique()

array([' 5.9 ', ' 7.25 ', ' 2.25 ', ' 3.25 ', ' 6.25 ', ' 2.81 ', ' 6.9 ',
       ' 4.25 ', ' 4.9 ', ' 3.4 ', ' 5.75 ', ' 4.15 ', ' 6.5 ', ' 4.5 ',
       ' 10.5 ', ' 2.9 ', ' 1.25 ', ' 1.9 ', ' 2.89 ', ' 3.11 ', ' 3.95 ',
       ' 8.25 ', ' 5.3 ', ' 2.65 ', ' 1.95 ', ' 3.8 ', ' 3.35 ', ' 6.75 ',
       ' 3.75 ', ' 3.65 ', ' 2.1 ', ' 2.75 ', ' 4.6 ', ' 10.75 ', ' 7.5 ',
       ' 3.99 ', ' 4.3 ', ' 3.51 ', ' 5.15 ', ' 7.75 ', ' 6 ', ' 3 ',
       ' 2.6 ', ' 2.8 ', ' 2.45 ', ' 3.6 ', ' 2.5 ', ' 5.5 ', ' 3.9 ',
       ' 4.35 ', ' 3.5 ', ' 1.4 ', ' 2.95 ', ' 12.9 ', ' 4.65 ', ' 5.65 ',
       ' 3.45 ', ' 7 ', ' 6.51 ', ' 2.35 ', ' 3.46 ', ' 3.85 ', ' 13.5 ',
       ' 3.55 ', ' 5.6 ', ' 2.3 ', ' 2.4 ', ' 3.15 ', ' 1.45 ', ' 1.2 ',
       ' 5.4 ', ' 3.3 ', ' 4.7 ', ' 4.21 ', ' 2.7 ', ' 5.8 ', ' 4.4 ',
       ' 2.64 ', ' 2.05 ', ' 10.51 ', ' 4.75 ', ' 3.05 ', ' 4.45 ',
       ' 4.8 ', ' 2.99 ', ' 2.55 ', ' 4.1 ', ' 6.4 ', ' 11 ', ' 2.31 ',
       ' 2.51 ', ' 4.31 ', ' 1.85 ', ' 1.05 ', ' 1.55 ', ' 1.5 ', ' 5 ',
       ' 1.7 ', ' 1.6 ', ' 2.85 ', ' 1.65 ', ' 2.61 ', ' 21 ', ' 45 ',
       ' 65 ', ' 5.25 ', ' 25 ', ' 17.75 ', ' 6.3 ', ' 30.5 ', ' 9.75 ',
       ' 11.5 ', ' 27.5 ', ' 32.75 ', ' 8.75 ', ' 24.5 ', ' 29.5 ',
       ' 21.51 ', ' 8.9 ', ' 9.15 ', ' 9.71 ', ' 54 ', ' 5.95 ', ' 37 ',
       ' 75 ', ' 8.78 ', ' 7.9 ', ' 16.9 ', ' 15.9 ', ' 8.5 ', ' 9.9 ',
       ' 36 ', ' 62 ', ' 8.6 ', ' 2.15 ', ' 18.5 ', ' 23.5 ', ' 17.9 ',
       ' 21.5 ', ' 6.73 ', ' 58 ', ' 11.75 ', ' 15 ', ' 29 ', ' 9.5 ',
       ' 31.5 ', ' 10 ', ' 18.25 ', ' 14.5 ', ' 14 ', ' 11.9 ', ' 6.45 ',
       ' 5.35 ', ' 25.25 ', ' 52.35 ', ' 11.8 ', ' 19.75 ', ' 18 ',
       ' 16.5 ', ' 7.15 ', ' 12.75 ', ' 6.99 ', ' 10.25 ', ' 16.25 ',
       ' 8.15 ', ' 35 ', ' 25.5 ', ' 41 ', ' 7.1 ', ' 14.75 ', ' 12.5 ',
       ' 7.49 ', ' 13.75 ', ' 19.9 ', ' 13.9 ', ' 26 ', ' 15.5 ',
       ' 8.85 ', ' 9.25 ', ' 52.5 ', ' 8.65 ', ' 56 ', ' 19.5 ', ' 72 ',
       ' 22.5 ', ' 7.65 ', ' 8.8 ', ' 10.9 ', ' 16.75 ', ' 53 ', ' 5.7 ',
       ' 7.85 ', ' 5.55 ', ' 7.95 ', ' 14.51 ', ' 8.55 ', ' 9.6 ',
       ' 8.99 ', ' 5.1 ', ' 9 ', ' 16.51 ', ' 52 ', ' 34.5 ', ' 46.5 ',
       ' 8.4 ', ' 32.5 ', ' 33 ', ' 42 ', ' 17.5 ', ' 10.6 ', ' 14.25 ',
       ' 48 ', ' 11.25 ', ' 6.65 ', ' 8.51 ', ' 26.51 ', ' 14.31 ',
       ' 43 ', ' 39.5 ', ' 17 ', ' 12 ', ' 7.55 ', ' 39 ', ' 13.51 ',
       ' 36.5 ', ' 34 ', ' 2 ', ' 3.39 ', ' 14.95 ', ' 5.45 ', ' 4.76 ',
       ' 4.05 ', ' 3.7 ', ' 20 ', ' 38 ', ' 85.11 ', ' 19 ', ' 16 ',
       ' 55 ', ' 26.5 ', ' 11.35 ', ' 51 ', ' 22.51 ', ' 18.11 ',
       ' 4.55 ', ' 11.71 ', ' 21.99 ', ' 4.41 ', ' 4.91 ', ' 4.95 ',
       ' 4 ', ' 1.8 ', ' 1.75 ', ' 4.2 ', ' 5.2 ', ' 4.85 ', ' 3.2 ',
       ' 38.5 ', ' 4.89 ', ' 3.21 ', ' 5.99 ', ' 4.49 ', ' 5.78 ',
       ' 4.99 ', ' 7.35 ', ' 6.85 ', ' 9.65 ', ' 5.85 ', ' 8.95 ',
       ' 15.75 ', ' 6.7 ', ' 3.1 ', ' 6.95 ', ' 6.15 ', ' 6.05 ', ' 6.6 ',
       ' 22.75 ', ' 6.49 ', ' 5.68 ', ' 7.45 ', ' 3.29 ', ' 6.2 ',
       ' 6.35 ', ' 11.85 ', ' 13.45 ', ' 9.1 ', ' 12.45 ', ' 22.65 ',
       ' 11.65 ', ' 21.35 ', ' 9.48 ', ' 12.99 ', ' 31.99 ', ' 8.45 ',
       ' 12.95 ', ' 22.95 ', ' 17.99 ', ' 21.25 ', ' 15.65 ', ' 20.5 ',
       ' 33.99 ', ' 13.3 ', ' 8 ', ' 14.99 ', ' 9.95 ', ' 26.85 ', ' 40 ',
       ' 11.45 ', ' 18.95 ', ' 57.45 ', ' 9.85 ', ' 19.8 ', ' 13.7 ',
       ' 18.45 ', ' 12.25 ', ' 13 ', ' 10.65 ', ' 31 ', ' 92 ', ' 30 ',
       ' 59.75 ', ' 18.7 ', ' 33.5 ', ' 32 ', ' 19.6 ', ' 19.25 ',
       ' 26.25 ', ' 34.95 ', ' 20.45 ', ' 25.85 ', ' 13.25 ', ' 28 ',
       ' 39.75 ', ' 17.89 ', ' 48.5 ', ' 70 ', ' 45.75 ', ' 10.35 ',
       ' 17.25 ', ' 75.75 ', ' 10.15 ', ' 27.75 ', ' 47 ', ' 35.5 ',
       ' 57.25 ', ' 53.75 ', ' 28.5 ', ' 49.75 ', ' 49.5 ', ' 53.25 ',
       ' 32.45 ', ' 18.75 ', ' 46 ', ' 38.95 ', ' 32.95 ', ' 26.75 ',
       ' 60.75 ', ' 32.25 ', ' 54.75 ', ' 7.3 ', ' 9.45 ', ' 2.2 ',
       ' 10.95 ', ' 44.75 ', ' 9.49 ', ' 8.35 ', ' 43.5 ', ' 10.49 ',
       ' 7.8 ', ' 10.4 ', ' 20.75 ', ' 4.79 ', ' 11.95 ', ' 23.85 ',
       ' 10.85 ', ' 6.55 ', ' 9.8 ', ' 29.75 ', ' 11.99 ', ' 34.75 ',
       ' 37.85 ', ' 9.2 ', ' 43.75 ', ' 28.75 ', ' 50 ', ' 15.95 ',
       ' 58.75 ', ' 20.95 ', ' 47.75 ', ' 21.95 ', ' 24.65 ', ' 7.99 ',
       ' 27 ', ' 22.85 ', ' 75.95 ', ' 59 ', ' 23 ', ' 67 ', ' 4.48 ',
       ' 3.26 ', ' 5.59 ', ' 4.24 ', ' 3.24 ', ' 6.24 ', ' 8.2 ', ' 8.1 ',
       ' 6.1 ', ' 7.4 ', ' 6.8 ', ' 20.25 ', ' 27.9 ', ' 22.9 ', ' 44 ',
       ' 68 ', ' 85 ', ' 29.99 ', ' 21.9 ', ' 22 ', ' 18.49 ', ' 13.95 ',
       ' 26.99 ', ' 49 ', ' 95 ', ' 11.4 ', ' 57 ', ' 62.9 ', ' 21.75 ',
       ' 8.7 ', ' 18.9 ', ' 79 ', ' 23.9 ', ' 40.5 ', ' 24 ', ' 12.7 ',
       ' 9.35 ', ' 9.3 ', ' 14.85 ', ' 7.7 ', ' 80 ', ' 69 ', ' 38.9 ',
       ' 28.9 ', ' 15.6 ', ' 7.24 ', ' 63.9 ', ' 7.6 ', ' 60 ', ' 45.5 ',
       ' 56.9 ', ' 12.8 ', ' 12.85 ', ' 14.9 ', ' 33.9 ', ' 71.5 ',
       ' 69.9 ', ' 64.9 ', ' 3.98 ', ' 4.98 ', ' 1.38 ', ' 1 ', ' 63.5 ',
       ' 13.85 ', ' 34.9 ', ' 29.95 ', ' 29.9 ', ' 53.9 ', ' 32.8 ',
       ' 24.9 ', ' 6.48 ', ' 59.9 ', ' 5.49 ', ' 17.95 ', ' 9.99 ',
       ' 1.35 ', ' 4.59 ', ' 1.99 ', ' 31.75 ', ' 14.4 ', ' 3.41 ',
       ' 3.54 ', ' 1.89 ', ' 7.2 ', ' 19.99 ', ' 54.5 ', ' 6.11 ',
       ' 2.29 ', ' 3.79 ', ' 3.49 ', ' 1.49 ', ' 6.17 ', ' 11.49 ',
       ' 6.58 ', ' 42.99 ', ' 44.5 ', ' 5.51 ', ' 1.1 ', ' 10.76 ',
       ' 23.97 ', ' 3.07 ', ' 15.05 ', ' 3.33 ', ' 6.96 ', ' 3.58 ',
       ' 8.3 ', ' 7.71 ', ' 2.53 ', ' 3.22 ', ' 6.33 ', ' 4.19 ',
       ' 6.16 ', ' 6.91 ', ' 11.6 ', ' 15.35 ', ' 14.8 ', ' 15.3 ',
       ' 16.65 ', ' 34.3 ', ' 10.8 ', ' 21.45 ', ' 16.3 ', ' 9.55 ',
       ' 12.35 ', ' 15.45 ', ' 7.89 ', ' 9.7 ', ' 17.3 ', ' 17.65 ',
       ' 72.5 ', ' 10.7 ', ' 68.5 ', ' 5.98 ', ' 4.69 ', ' 14.1 ',
       ' 24.99 ', ' 8.42 ', ' 7.13 ', ' 13.99 ', ' 7.34 ', ' 4.32 ',
       ' 1.59 ', ' 3.48 ', ' 78 ', ' 1.3 ', ' 1.97 ', ' 2.22 ', ' 5.11 ',
       ' 1.15 ', ' 12.1 ', ' 92.5 ', ' 7.21 ', ' 12.11 ', ' 80.5 ',
       ' 51.5 ', ' 79.5 ', ' 87 ', ' 24.75 ', ' 5.21 ', ' 2.11 ',
       ' 69.5 ', ' 67.5 ', ' 13.35 ', ' 4.14 ', ' 10.99 ', ' 37.5 ',
       ' 12.97 ', ' 36.25 ', ' 3.38 ', ' 87,500', ' 26.26 ', ' 25.75 ',
       ' 88 ', ' 35.29 ', ' 6.89 ', ' 18.89 ', ' 21.65 ', ' 6.67 ',
       ' 16.49 ', ' 8.49 ', ' 39.9 ', ' 89.5 ', ' 6.79 ', ' 13.79 ',
       ' 7.14 ', ' 7.74 ', ' 30.3 ', ' 6.13 ', ' 2.49 ', ' 5.81 ',
       ' 7.84 ', ' 5.88 ', ' 76 ', ' 16.55 ', ' 16.99 ', ' 18.39 ',
       ' 23.99 ', ' 7.41 ', ' 22.99 ', ' 32.99 ', ' 33.51 ', ' 15.7 ',
       ' 29.93 ', ' 5.71 ', ' 7.28 ', ' 14.6 ', ' 13.8 ', ' 6.37 ',
       ' 4.94 ', ' 3.19 ', ' 2.18 ', ' 2.91 ', ' 4.11 ', ' 1.87 ',
       ' 1.37 ', ' 5.05 ', ' 36.99 ', ' 3.44 ', ' 2.21 ', ' 3.61 ',
       ' 4.61 ', ' 11.3 ', ' 13.4 ', ' 43.15 ', ' 44.9 ', ' 14.3 ',
       ' 17.85 ', ' 11.55 ', ' 12.2 ', ' 47.5 ', ' 4.71 ', ' 9.91 ',
       ' 3.91 ', ' 15.8 ', ' 17.4 ', ' 27.8 ', ' 49.49 ', ' 20.65 ',
       ' 11.1 ', ' 64 ', ' 15.25 ', ' 15.99 ', ' 4.16 ', ' 21.85 ',
       ' 6.21 ', ' 61 ', ' 38.8 ', ' 8.31 ', ' 23.95 ', ' 24.95 ',
       ' 39.99 ', ' 45.9 ', ' 70.5 ', 235, 185, 135, 218.00000000000003,
       229.99999999999997, 355, 325, 670, 395, 175, 100, 169, 147, 125,
       118, 140, 409.99999999999994, 400, 114.99999999999999, 129,
       110.00000000000001, 130, 0.7, 0.20077, 0.9, 0.75, 0.43, 0.65, 0.6,
       0.45, 0.8, 0.55, 0.85, 0.8625, 0.95, 0.97, 0.99, 0.72999, 0.88,
       0.4, 0.68, 0.5, 0.98], dtype=object)

In [17]:
carwale['engine'] = carwale['engine'].replace('cc','')

In [18]:
carwale = carwale.replace('-',None)

In [19]:
carwale.isnull().sum()

price       100
year        100
make        100
model       100
fuel        100
trans       100
location    100
mile        100
color       100
owner       100
engine      100
seating     100
Body        100
dtype: int64

In [20]:
carwale = carwale.dropna(axis = 0)

In [21]:
carwale.shape

(6225, 13)

In [22]:
carwale['engine'] = np.where(carwale['engine'].isin(['Petrol','14.28 seconds','4 Cylinders Inline','11.48 seconds',
                                                    'Diesel','250 Kmph','233 Kmph','226 Kmph','6.5 seconds','4.5 seconds']),None, carwale['engine'])

In [23]:
carwale = carwale.dropna(axis = 0)

In [24]:
carwale['engine'].unique()

array(['1198 cc', '1248 cc', '814 cc', '1199 cc', '1396 cc', '1197 cc',
       '1196 cc', '999 cc', '998 cc', '799 cc', '1595 cc', '1461 cc',
       '1298 cc', '1061 cc', '1086 cc', '1364 cc', '1186 cc', '1336 cc',
       '1498 cc', '796 cc', '1399 cc', '1120 cc', '1984 cc', '995 cc',
       '2179 cc', '1991 cc', '2967 cc', '4134 cc', '2755 cc', '2199 cc',
       '1591 cc', '1968 cc', '2982 cc', '1999 cc', '1462 cc', '2696 cc',
       '1598 cc', '1956 cc', '1995 cc', '2400 cc', '1497 cc', '1582 cc',
       '1368 cc', '2499 cc', '1996 cc', '1493 cc', '2393 cc', '2198 cc',
       '1997 cc', '2143 cc', '1499 cc', '3198 cc', '2956 cc', '1451 cc',
       '2477 cc', '2494 cc', '2987 cc', '1950 cc', '4367 cc', '2184 cc',
       '1969 cc', '2997 cc', '1998 cc', '1373 cc', '2359 cc', '2993 cc',
       '1798 cc', '1495 cc', '1496 cc', '1799 cc', '2349 cc', '1797 cc',
       '1194 cc', '1596 cc', '2148 cc', '1405 cc', '1796 cc', '2354 cc',
       '2497 cc', '2995 cc', '5198 cc', '624 cc', '1047 cc', '2953 cc',
       '4461 cc', '2498 cc', '1795 cc', '2685 cc', '1586 cc', '1299 cc',
       '3498 cc', '1896 cc', '1794 cc', '2996 cc', '4735 cc', '4691 cc',
       '936 cc', '5461 cc', '2999 cc', '2157 cc', '2362 cc', '1193 cc',
       '1395 cc', '2925 cc', '3189 cc', '4951 cc', '3800 cc', '1108 cc',
       '1172 cc', '993 cc', '1341 cc', '3200 cc', '2523 cc', '2609 cc',
       '2489 cc', '2698 cc', '1599 cc', '1986 cc', '3628 cc', '1388 cc',
       '5998 cc', '2496 cc', '1389 cc', '793 cc', '1150 cc', '3604 cc',
       '2979 cc', '1422 cc', '1589 cc', '1993 cc', '3956 cc', '1390 cc',
       '2694 cc', '3496 cc', '2596 cc', '4163 cc', '1988 cc', '5935 cc',
       '5204 cc', '3902 cc', '6749 cc', '6498 cc', '3996 cc', '3456 cc',
       '5950 cc', '3993 cc'], dtype=object)

In [30]:
carwale['price'] =  carwale['price'].replace(' 87,500', None)

In [35]:
carwale['engine'] = carwale['engine'].str.replace(' cc','')

In [38]:
carwale['seating'] = carwale['seating'].str.replace(' ','')

In [42]:
carwale['seating'] =  carwale['seating'].replace('7&9','9').replace('7&8','8')

In [43]:
carwale['price'] = pd.to_numeric(carwale['price'])
carwale['year'] = pd.to_numeric(carwale['year'])
carwale['mile'] = pd.to_numeric(carwale['mile'])
carwale['engine'] = pd.to_numeric(carwale['engine'])
carwale['seating'] = pd.to_numeric(carwale['seating'])

In [44]:
cars = pd.concat([cardekho,carwale], axis = 0, ignore_index = True)

In [45]:
cars.shape

(6591, 13)

In [47]:
cars['make'] = cars['make'].replace('Maruti','Maruti Suzuki')

In [48]:
cars.head()

,price,year,fuel,trans,mile,color,owner,engine,seating,location,Body,make,model
0,422000.0,2019.0,Petrol,Manual,24230 Kms,White,1st Owner,998,5.0,Ahmedabad,hatchback,Maruti Suzuki,S-Presso
1,585000.0,2018.0,Diesel,Manual,31694 Kms,White,1st Owner,1248,5.0,Ahmedabad,hatchback,Maruti Suzuki,Swift
2,610000.0,2017.0,Petrol,Manual,49072 Kms,White,1st Owner,1197,5.0,Ahmedabad,hatchback,Maruti Suzuki,Baleno
3,399000.0,2013.0,Diesel,Manual,72301 Kms,White,1st Owner,1248,5.0,Ahmedabad,hatchback,Maruti Suzuki,Swift
4,600000.0,2019.0,Petrol,Manual,21060 Kms,White,1st Owner,1197,5.0,Ahmedabad,hatchback,Maruti Suzuki,Swift

In [50]:
cars['mile'] = pd.to_numeric(cars['mile'].str.replace(' Kms',''))

In [ ]:
cars.to_excel('cars.xlsx', index= False)