### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required.

In [1]:
a=1
a

1

In [1]:
b=2
b

2

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\krunal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\krunal\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [2]:
import pandas as pd
import selenium
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

In [6]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Analyst',
 'Junior Data Analyst',
 'Network Design & Data Analyst',
 'Data analysts',
 'Data Analyst',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Azure',
 'Urgently Looking For Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Market Data Business Analyst,',
 'Senior Data Analyst Python, ML - Bangalore',
 'Software Developer / Web Developer/data analyst']

In [14]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")

job_location=[]
for i in location:
    job_location.append(i.text)
job_location

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Lucknow, Bangalore/Bengaluru',
 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [10]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Simplilearn',
 'Simplilearn',
 'Dell International Services India Private Limited',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Mind Circus Innovation',
 'Flipkart Internet Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Flipkart Internet Private Limited',
 'Uber',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Flipkart Internet Private Limited',
 'INTERTRUST GROUP',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Clarivate Analytics',
 'Clarivate Analytics (TRCPL Projects Pvt Ltd.)',
 'Luxoft',
 '2coms',
 'Edubridgeindia']

In [11]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

experience=[]
for i in exp:
    experience.append(i.text)
experience

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '1-2 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '0-1 Yrs']

In [15]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Location']=job_location
jobs['Company Name']=company_names
jobs['Experience Required']=experience
jobs.head(10)

,Job Title,Location,Company Name,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
2,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
3,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
4,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
5,Data Analyst,"Lucknow, Bangalore/Bengaluru",CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs
6,Excel VBA Jobs Bangalore | VBA data analyst Jobs,"Coimbatore, Bangalore/Bengaluru, Trivandrum/Th...",Mind Circus Innovation,0-2 Yrs
7,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
8,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
9,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-5 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description.

In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\krunal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\krunal\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [2]:
import pandas as pd
import selenium
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [6]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist 2',
 'Data Scientist 2',
 'Hiring Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist - SQL/R/Python',
 'Senior Data Scientist',
 'EXL - Senior Data Scientist, 5+ yrs, Mumbai / PUNE / BLR / Chennai',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist']

In [9]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

job_location=[]
for i in location:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th block Koramangala)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [10]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['Flipkart Internet Private Limited',
 'bd',
 'Inflexion Analytix Private Limited',
 'Flipkart Internet Private Limited',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Applied Materials',
 'Gojek Tech',
 'GO-JEK India',
 'IHX private limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Exploro Solutions',
 'iMindYourBusiness',
 '24/7 Customer',
 'EXL Service',
 'Superior Group',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes Incorporated']

In [12]:
job_urls=[]

urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in urls:
    job_urls.append(i.get_attribute('href'))
job_urls

['https://www.naukri.com/job-listings-senior-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-5-to-10-years-090721908235?src=jobsearchDesk&sid=16260119146701604&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-090721501722?src=jobsearchDesk&sid=16260119146701604&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16260119146701604&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-0-to-5-years-080721904425?src=jobsearchDesk&sid=16260119146701604&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16260119146701604&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721906161?src=jobsearchDesk&sid=16260119146701604&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=16260119146701604&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-5-to-10-years-090721902434?src=jobsearchDesk&sid=16260119146701604&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-gojek-tech-bangalore-bengaluru-4-to-8-years-090721501896?src=jobsearchDesk&sid=16260119146701604&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-go-jek-india-bangalore-bengaluru-6-to-11-years-090721501884?src=jobsearchDesk&sid=16260119146701604&xp=10&px=1',
 'https://www.naukri.com/job-listings-hiring-data-scientist-ihx-private-limited-bangalore-bengaluru-4-to-6-years-090721002695?src=jobsearchDesk&sid=16260119146701604&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=16260119146701604&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-10-years-090721905332?src=jobsearchDesk&sid=16260119146701604&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-machine-learning-exploro-solutions-bangalore-bengaluru-5-to-10-years-100721901978?src=jobsearchDesk&sid=16260119146701604&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sql-r-python-imindyourbusiness-bangalore-bengaluru-4-to-8-years-100721901754?src=jobsearchDesk&sid=16260119146701604&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16260119146701604&xp=16&px=1',
 'https://www.naukri.com/job-listings-exl-senior-data-scientist-5-yrs-mumbai-pune-blr-chennai-exl-service-pune-chennai-bangalore-bengaluru-delhi-ncr-5-to-10-years-080721005255?src=jobsearchDesk&sid=16260119146701604&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-superior-group-bangalore-bengaluru-4-to-9-years-070721500778?src=jobsearchDesk&sid=16260119146701604&xp=18&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-2-to-5-years-070721500535?src=jobsearchDesk&sid=16260119146701604&xp=19&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-060721500843?src=jobsearchDesk&sid=16260119146701604&xp=20&px=1']

In [30]:
job_descs1=[]

for i in job_urls:
    driver.get(i)
    try:
        job_desc1=driver.find_element_by_xpath("//div[@class='dang-inner-html']//p")
        job_descs1.append(job_desc1.text)
#         job_desc1=driver.find_element_by_xpath("//div[@class='dang-inner-html']//p")
#         job_descs1.append(job_desc1.text)
    except:
        pass
job_descs1

['A Senior Data Scientist in Flipkart is required to drive research and development of various Machine Learning and Statistical modules, keeping business goals and product planning at the front. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams. The crux of the work is defined by developing innovative problem statements as well as end to end implementation of state of the art ML and statistical algorithms. The candidate is additionally expected to work proactively with a team of junior Data Scientists and guide them in various research projects with a view to publish their findings.',
 '',
 '',
 '',
 'A consistent record of using product data to drive product, sales, and/or marketing teams to achieve ambitious goals and influencing outcomes.',
 '',
 '',
 'Brief about the Role',
 'Minimum Qualifications: (Specify if degree required & type, number of years of prior experience, certifications, etc.)\nPost Graduate or MBA (preferred) OR Graduates in Engineering / Mathematics / Operations Research / Science / Statistics\nWith atleast 5+ years experience in analytics using SQL,SAS, R or Python, basic statistical concepts and analyzing data & interpreting results to the business\n\n\nProficient in data wrangling using SQL and libraries of R,Python such as Dplyr/Pandas, Pyspark etc\nProficient in basic statistical concepts and analyzing data & interpreting results to the business\nApplied Machine learning experience or experience in text mining, imaging mining, screen scraping and other big data techniques will be a plus',
 'As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.',
 'As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.']

In [31]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Location']=job_location
jobs['Company Name']=company_names
jobs['Job Description']=pd.Series(job_descs1)
jobs.head(10)

,Job Title,Location,Company Name,Job Description
0,Senior Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,A Senior Data Scientist in Flipkart is require...
1,Lead Data Scientist,Bangalore/Bengaluru,bd,
2,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,
3,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,
4,Data Scientist,"Noida, Bangalore/Bengaluru",Oracle India Pvt. Ltd.,A consistent record of using product data to d...
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,
6,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,Brief about the Role
8,Data Scientist 2,Bangalore/Bengaluru,Gojek Tech,Minimum Qualifications: (Specify if degree req...
9,Data Scientist 2,Bangalore/Bengaluru,GO-JEK India,"As as Senior Data Scientist, you will work in ..."

## Q3:Scrape data using the filters available on the webpage

In [32]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\krunal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\krunal\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [41]:
import pandas as pd
import selenium
from selenium import webdriver

In [42]:
driver=webdriver.Chrome("chromedriver.exe")

In [43]:
url='https://www.naukri.com/'
driver.get(url)

In [44]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [45]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [48]:
loc_select = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc_select.click()

In [49]:
sal_select = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_select.click()

In [50]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist',
 'Team Leader Operations/Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist (Early Joiner)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Advanced Analytics -Data Scientist',
 'Data Scientist',
 'Data Scientist -Delhi',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'DATA SCIENTIST']

In [51]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

job_location=[]
for i in location:
    job_location.append(i.text)
job_location

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Greater Noida, Delhi / NCR',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Delhi',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Delhi',
 'Delhi',
 'Noida',
 'New Delhi',
 'Gurgaon']

In [52]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Optimint Solutions Pvt. Ltd.',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'TalPro',
 'recruitment advisory line',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.',
 'ERM Placement Services (P) Ltd.',
 'Fractal Analytics',
 'CHANGE LEADERS CONSULTING',
 'iNICU',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'Inference Labs']

In [53]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

experience=[]
for i in exp:
    experience.append(i.text)
experience

['0-3 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '0-0 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '3-5 Yrs']

In [54]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Location']=job_location
jobs['Company Name']=company_names
jobs['Experience Required']=experience
jobs.head(10)

,Job Title,Location,Company Name,Experience Required
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
2,Team Leader Operations/Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Optimint Solutions Pvt. Ltd.,2-5 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
4,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",recruitment advisory line,3-6 Yrs
7,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
8,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
9,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\krunal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\krunal\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [3]:
import pandas as pd
import selenium
from selenium import webdriver

In [4]:
driver=webdriver.Chrome("chromedriver.exe")

In [14]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [15]:
# search_btn=driver.find_element_by_xpath("//button[@class='p-0 SearchStyles__iconBtn']")
# search_btn.click()

In [17]:
search_job=driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

In [29]:
search_loc=driver.find_element_by_id("sc.location")
search_loc.clear()
search_loc.send_keys("Noida (India)")

In [30]:
search_btn2=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn2.click()

In [31]:
com_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")

compny_name=[]
for i in com_tags:
    compny_name.append(i.text)
compny_name

['Gravity Advisors Pvt Ltd',
 'Ericsson',
 'Crowe',
 'Urban Company',
 'Data Patterns',
 'White Vectors',
 'Ginger Webs Pvt. Ltd.',
 'Biz2Credit Inc',
 'Applicate IT Solutions Pvt. Ltd.',
 'Barclays',
 'MediGence',
 'Algo8 AI Pvt. Ltd.',
 'KVCH',
 'WinZO',
 'United Airlines',
 'Scymes Services Pvt. ltd',
 'Genpact',
 'Wobb.ai',
 'Verisk',
 'Techlive',
 'Salasar New Age Technologies',
 'Genpact',
 'Innovacer',
 'Salasar New Age Technologies',
 'Applicate IT Solutions Private Limited',
 'Ori',
 'WishFin',
 'Conduent',
 'Bulkbyte Company',
 'Siemens Technology and Services Private Limited']

In [32]:
jobpost=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

job_postd=[]
for i in jobpost:
    job_postd.append(i.text)
job_postd

['1d',
 '18d',
 '30d+',
 '10d',
 '27d',
 '5d',
 '30d',
 '30d+',
 '5d',
 '4d',
 '4d',
 '23d',
 '2d',
 '1d',
 '6d',
 '9d',
 '2d',
 '17d',
 '1d',
 '30d+',
 '30d+',
 '30d+',
 '13d',
 '30d+',
 '4d',
 '2d',
 '30d+',
 '24d',
 '8d',
 '23d']

In [35]:
rate=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

rating=[]
for i in rate:
    try:
        rating.append(i.text)
    except:
        pass
rating

['4.1',
 '3.8',
 '3.1',
 '3.9',
 '4.0',
 '4.5',
 '4.6',
 '4.7',
 '4.1',
 '3.8',
 '4.0',
 '5.0',
 '3.8',
 '3.8',
 '3.2',
 '2.2',
 '3.8',
 '3.1',
 '4.1']

In [37]:
jobs=pd.DataFrame({})
jobs['Company Name']=compny_name
jobs['Job Posted']=job_postd
jobs['Company Rating']=pd.Series(rating)

jobs.head(10)

                       Company Name Job Posted Company Rating
0          Gravity Advisors Pvt Ltd         1d            4.1
1                          Ericsson        18d            3.8
2                             Crowe       30d+            3.1
3                     Urban Company        10d            3.9
4                     Data Patterns        27d            4.0
5                     White Vectors         5d            4.5
6             Ginger Webs Pvt. Ltd.        30d            4.6
7                    Biz2Credit Inc       30d+            4.7
8  Applicate IT Solutions Pvt. Ltd.         5d            4.1
9                          Barclays         4d            3.8

## Q5. Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [5]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\krunal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\krunal\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [6]:
import pandas as pd
import selenium
from selenium import webdriver

In [7]:
driver=webdriver.Chrome("chromedriver.exe")

In [8]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [9]:
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")

In [11]:
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.clear()
search_loc.send_keys("Noida (India)")

In [12]:
search_btn2=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn2.click()

In [13]:
com_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

compny_name=[]
for i in com_tags:
    compny_name.append(i.text)
compny_name

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions',
 'ZS Associates',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'R Systems',
 'CARS24.com']

In [15]:
sal=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")

sald=[]
for i in sal:
    sald.append(i.text)
sald

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '13 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries']

In [19]:
avgsal=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

salavg=[]
for i in avgsal:
    salavg.append(i.text.replace('\n',''))
salavg

['₹9,00,000 /yr',
 '₹6,15,289 /yr',
 '₹11,63,336 /yr',
 '₹12,18,244 /yr',
 '₹7,39,238 /yr',
 '₹13,00,000 /yr',
 '₹8,63,750 /yr',
 '₹11,10,000 /yr',
 '₹14,23,677 /yr',
 '₹13,28,697 /yr',
 '₹11,42,356 /yr',
 '₹12,09,040 /yr',
 '₹10,09,021 /yr',
 '₹12,58,227 /yr',
 '₹9,92,632 /yr',
 '₹10,55,478 /yr',
 '₹34,157 /mo',
 '₹10,54,402 /yr',
 '₹18,40,134 /yr',
 '₹10,00,000 /yr']

In [23]:
minsal=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]")

salmin=[]
for i in minsal:
    salmin.append(i.text.replace('\n',''))
salmin

['₹6L',
 '₹3L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹4L',
 '₹2L',
 '₹6L',
 '₹8L',
 '₹10L',
 '₹4L',
 '₹8L',
 '₹12T',
 '₹4L',
 '₹8L',
 '₹9L']

In [24]:
maxsal=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]")

salmax=[]
for i in maxsal:
    salmax.append(i.text.replace('\n',''))
salmax

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L',
 '₹13L',
 '₹19L',
 '₹16L',
 '₹20L',
 '₹63T',
 '₹17L',
 '₹30L',
 '₹15L']

In [26]:
jobs=pd.DataFrame({})
jobs['Company Name']=compny_name
jobs['No. of Salaries']=sald
jobs['Average Salary']=pd.Series(salavg)
jobs['Minimum Salary']=salmin
jobs['Maximum Salary']=salmax
jobs.head(10)

,Company Name,No. of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,IBM,18 salaries,"₹9,00,000 /yr",₹6L,₹27L
1,Tata Consultancy Services,17 salaries,"₹6,15,289 /yr",₹3L,₹13L
2,Accenture,15 salaries,"₹11,63,336 /yr",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,18,244 /yr",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238 /yr",₹4L,₹16L
5,UnitedHealth Group,13 salaries,"₹13,00,000 /yr",₹8L,₹15L
6,Valiance Solutions,10 salaries,"₹8,63,750 /yr",₹5L,₹15L
7,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L,₹15L
8,Optum,9 salaries,"₹14,23,677 /yr",₹8L,₹20L
9,Optum Global Solutions,9 salaries,"₹13,28,697 /yr",₹4L,₹22L