In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import re
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
driver= webdriver.Chrome("chromedriver.exe")

In [5]:
# Getting url
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [29]:
rnk=driver.find_elements_by_xpath("//table[3]/tbody/tr/td[1]")
rank=[]
for i in rnk:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        pass
        
print(rank)
print(len(rank))

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']
30

In [38]:
vd=driver.find_elements_by_xpath("//table[3]/tbody/tr/td[2]")
vdn=[]
for i in vd:
    try:
        vdn.append(i.text)
    except NoSuchElementException:
        pass
print(vdn)
print(len(vdn))

['"Baby Shark Dance"[22]', '"Despacito"[24]', '"Johny Johny Yes Papa"[25]', '"Shape of You"[26]', '"See You Again"[27]', '"Masha and the Bear – Recipe for Disaster"[30]', '"Bath Song"[31]', '"Learning Colors – Colorful Eggs on a Farm"[32]', '"Uptown Funk"[33]', '"Gangnam Style"[34]', '"Phonics Song with Two Words"[36]', '"Sugar"[37]', '"Dame Tu Cosita"[38]', '"Sorry"[39]', '"Roar"[40]', '"Counting Stars"[41]', '"Thinking Out Loud"[42]', '"Wheels on the Bus"[43]', '"Dark Horse"[44]', '"Faded"[45]', '"Shake It Off"[46]', '"Girls Like You"[47]', '"Lean On"[48]', '"Bailando"[49]', '"Let Her Go"[50]', '"Mi Gente"[51]', '"Perfect"[52]', '"Axel F"[53]', '"Waka Waka (This Time for Africa)"[54]', '"Hello"[55]']
30

In [31]:
up=driver.find_elements_by_xpath("//table[3]/tbody/tr/td[3]")
upl=[]
for i in up:
    try:
        upl.append(i.text)
    except NoSuchElementException:
        pass
print(upl)
print(len(upl))

["Pinkfong Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Get Movies', 'Cocomelon – Nursery Rhymes', 'Miroshka TV', 'Mark Ronson', 'Psy', 'ChuChu TV', 'Maroon 5', 'El Chombo', 'Justin Bieber', 'Katy Perry', 'OneRepublic', 'Ed Sheeran', 'Cocomelon – Nursery Rhymes', 'Katy Perry', 'Alan Walker', 'Taylor Swift', 'Maroon 5', 'Major Lazer', 'Enrique Iglesias', 'Passenger', 'J Balvin', 'Ed Sheeran', 'Crazy Frog', 'Shakira', 'Adele']
30

In [32]:
vw=driver.find_elements_by_xpath("//table[3]/tbody/tr/td[4]")
vws=[]
for i in vw:
    try:
        vws.append(i.text)
    except NoSuchElementException:
        pass
print(vws)
print(len(vws))

['9.04', '7.46', '5.58', '5.40', '5.19', '4.45', '4.37', '4.31', '4.24', '4.13', '4.02', '3.51', '3.48', '3.45', '3.39', '3.35', '3.29', '3.18', '3.11', '3.10', '3.08', '3.08', '3.07', '3.07', '3.03', '2.95', '2.90', '2.90', '2.89', '2.86']
30

In [33]:
upd=driver.find_elements_by_xpath("//table[3]/tbody/tr/td[5]")
udt=[]
for i in upd:
    try:
        udt.append(i.text)
    except NoSuchElementException:
        pass

print(udt)
print(len(udt))

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'January 31, 2012', 'May 2, 2018', 'February 27, 2018', 'November 19, 2014', 'July 15, 2012', 'March 6, 2014', 'January 14, 2015', 'April 5, 2018', 'October 22, 2015', 'September 5, 2013', 'May 31, 2013', 'October 7, 2014', 'May 24, 2018', 'February 20, 2014', 'December 3, 2015', 'August 18, 2014', 'May 31, 2018', 'March 22, 2015', 'April 11, 2014', 'July 25, 2012', 'June 29, 2017', 'November 9, 2017', 'June 16, 2009', 'June 4, 2010', 'October 22, 2015']
30

In [43]:
YT=pd.DataFrame()
YT["Video Name"]=vdn
YT["Artist"]=upl
YT["Upload Date"]=udt
YT["Views (billions)"]=vws
YT.index=rank
YT

,Video Name,Artist,Upload Date,Views (billions)
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

In [44]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [128]:
driver= webdriver.Chrome("chromedriver.exe")

In [130]:
# Getting url
url= "https://www.bcci.tv/"
driver.get(url)
# time.sleep(5)

In [131]:
intl=driver.find_element_by_xpath("//*[text()='International']").click()
fixt=driver.find_element_by_link_text("Fixtures").click()

In [152]:
mch=driver.find_elements_by_xpath(".//div[@class='js-list']/a")

mcth=[]
for i in mch:
    mcth.append(i.get_attribute("href"))
mcth

match=[]
seris=[]
plce=[]
dte=[]
tme=[]

for i in mcth:
    driver.get(i)
    try:
        mt=driver.find_element_by_xpath("//section[3]/div/ul/li/span[2]")
        match.append(mt.text)
    except:
        match.append("-")
    
    try:
        srs=driver.find_element_by_xpath("//section[3]/div/ul/li[2]/span[2]")
        seris.append(srs.text)
    except:
        seris.append("-")
        
    try:
        plc=driver.find_element_by_xpath("//section[3]/div/ul/li[3]/span[2]")
        plce.append(plc.text)
    except:
        plce.append("-")
        
    try:
        dt=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        dte.append(dt.text)
    except:
        dte.append("-")
    try:
        tm=driver.find_element_by_xpath("//span[@class='mc-header-scorebox__ist-time']")
        tme.append(tm.text)
    except:
        tme.append("-")
    
print(match)
print(seris)
print(plce)
print(dte)
print(tme)

['England v India 2021', 'England v India 2021', 'England v India 2021', 'England v India 2021', 'England v India 2021']
['Test', 'Test', 'Test', 'Test', 'Test']
['Trent Bridge, Nottingham', "Lord's, London", 'Headingley, Leeds', 'The Oval, London', 'Old Trafford, Manchester']
['Wednesday 4 August', 'Thursday 12 August', 'Wednesday 25 August', 'Thursday 2 September', 'Friday 10 September']
['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [155]:
ODI=pd.DataFrame()
ODI["Match Title"]=match
ODI["Series"]=seris
ODI["Place"]=plce
ODI["Date"]=dte
ODI["Time"]=tme
ODI.index += 1
ODI

,Match Title,Series,Place,Date,Time
1,England v India 2021,Test,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
2,England v India 2021,Test,"Lord's, London",Thursday 12 August,15:30 IST
3,England v India 2021,Test,"Headingley, Leeds",Wednesday 25 August,15:30 IST
4,England v India 2021,Test,"The Oval, London",Thursday 2 September,15:30 IST
5,England v India 2021,Test,"Old Trafford, Manchester",Friday 10 September,15:30 IST

In [156]:
driver.close()

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
driver= webdriver.Chrome("chromedriver.exe")

# Getting url
url= "https://www.guru99.com/"
driver.get(url)

In [4]:
sel=driver.find_element_by_xpath("//a[contains(text(),'Selenium')]")
sel.click()
time.sleep(5)

In [6]:
sele=driver.find_element_by_xpath("(.//*[normalize-space(text()) and normalize-space(.)='Selenium Exception Handling (Common Exceptions List)'])[1]/preceding::strong[1]")
sele.click()
time.sleep(5)

In [10]:
# Scraping name of exception
name=[]

try:
    nm=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    
    for i in nm:
        name.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    name.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    name.append("No data found")
name

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [12]:
# Scraping description of exception
desc=[]

try:
    desc_tag=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    
    for i in desc_tag:
        desc.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    desc.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    desc.append("No data found")
desc

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [15]:
## Creating Dataframe
Exception=pd.DataFrame()
Exception["Name"]=name
Exception["Description"]=desc
Exception.head()

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...

In [16]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
driver= webdriver.Chrome("chromedriver.exe")

# Getting url
url= "http://statisticstimes.com/"
driver.get(url)

In [20]:
eco=driver.find_element_by_xpath("//div[@id='top']/div[2]/div[2]/button")
eco.click()

ind=driver.find_element_by_xpath("//div[@id='top']/div[2]/div[2]/div/a[3]")
ind.click()

try:
    pop=driver.find_element_by_xpath("//span(@class='ns-6ksjd-e-16')")
    pop.click()
except:
    pass


ingdp=driver.find_element_by_xpath(u"//a[contains(text(),'» GDP of Indian states')]")
ingdp.click()
time.sleep(5)

In [33]:
## Scraping rank of state
rank=[]
try:
    rnk=driver.find_elements_by_xpath("//tr[@role='row']/td[1]")
    for i in rnk:
        rank.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    rank.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    rank.append("No data found")
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [22]:
# Scraping for state name
state=[]
try:
    stt=driver.find_elements_by_xpath("//tr[@role='row']/td[2]")
    for i in stt:
        state.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    state.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    state.append("No data found")

In [34]:
# Scraping for GSDP(19-20)
gsdp_y1=[]
try:
    gsdp=driver.find_elements_by_xpath("//tr[@role='row']/td[3]")
    for i in gsdp:
        gsdp_y1.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gsdp_y1.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gsdp_y1.append("No data found")
gsdp_y1

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-',
 '-',
 '1,659,210',
 '1,495,758',
 '1,476,983',
 '-',
 '1,150,711',
 '916,014',
 '881,873',
 '875,429',
 '827,019',
 '-',
 '779,647',
 '755,790',
 '562,710',
 '517,521',
 '457,757',
 '-',
 '301,242',
 '288,041',
 '-',
 '143,063',
 '-',
 '72,181',
 '50,227',
 '-',
 '34,823',
 '32,833',
 '29,148',
 '28,391',
 '-',
 '-',
 '24,424',
 '-']

In [35]:
#Scraping for GSDP(18-19)
gsdp_y2=[]
try:
    gsdp=driver.find_elements_by_xpath("//tr[@role='row']/td[4]")
    for i in gsdp:
        gsdp_y2.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gsdp_y2.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gsdp_y2.append("No data found")
gsdp_y2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [36]:
# Scrapig Share data for each state
share=[]
try:
    shr=driver.find_elements_by_xpath("//tr[@role='row']/td[5]")
    for i in shr:
        share.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    share.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    share.append("No data found")
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-',
 '13.97%',
 '8.77%',
 '8.41%',
 '8.09%',
 '7.92%',
 '5.96%',
 '5.06%',
 '4.68%',
 '4.65%',
 '4.41%',
 '4.24%',
 '4.22%',
 '3.99%',
 '2.91%',
 '2.83%',
 '2.56%',
 '1.69%',
 '1.63%',
 '1.60%',
 '1.33%',
 '0.80%',
 '0.78%',
 '0.40%',
 '0.27%',
 '0.22%',
 '0.19%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.13%',
 '-']

In [37]:
# Scraping GDP for each state
gdp=[]

try:
    gdp_t=driver.find_elements_by_xpath("//tr[@role='row']/td[6]")
    for i in gdp_t:
        gdp.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gdp.append("No data found")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gdp.append("No data found")
    
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-',
 '-',
 '1,167,776',
 '1,015,735',
 '1,035,131',
 '-',
 '713,376',
 '630,693',
 '594,806',
 '595,605',
 '496,798',
 '-',
 '568,265',
 '514,983',
 '377,276',
 '374,015',
 '344,437',
 '-',
 '218,232',
 '210,837',
 '-',
 '107,171',
 '-',
 '56,810',
 '35,980',
 '-',
 '22,291',
 '23,564',
 '18,549',
 '17,060',
 '-',
 '-',
 '17,797',
 '-']

In [32]:
# Creating Data frame
GDP_state=pd.DataFrame()
GDP_state["State"]=state
GDP_state["GSDP(19-20)"]=gsdp_y1
GDP_state["GSDP(18-19)"]=gsdp_y2
GDP_state["Share"]=share
GDP_state["GDP"]=gdp
GDP_state.index=rank
GDP_state.head()

           State GSDP(19-20) GSDP(18-19)   Share      GDP
1    Maharashtra           -   2,632,792  13.94%  399.921
2     Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
3  Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
4        Gujarat           -   1,502,899   7.96%  228.290
5      Karnataka   1,631,977   1,493,127   7.91%  226.806

In [38]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [43]:
driver= webdriver.Chrome("chromedriver.exe")

# Getting url
url= "https://github.com/"
driver.get(url)

In [44]:
ex=driver.find_element_by_xpath("//summary[contains(text(),'Explore')]")
ex.click()

tren=driver.find_element_by_xpath("//a[contains(text(),'Trending')]")
tren.click()

In [46]:
ul=[]
ul_t=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in ul_t:
    ul.append(i.get_attribute("href"))
ul

['https://github.com/commaai/openpilot',
 'https://github.com/Azure/azure-sdk-for-net',
 'https://github.com/bytedance/Fastbot_iOS',
 'https://github.com/clouDr-f2e/rubick',
 'https://github.com/MoienTajik/AspNetCore-Developer-Roadmap',
 'https://github.com/microsoft/ML-For-Beginners',
 'https://github.com/apache/pinot',
 'https://github.com/SigmaHQ/sigma',
 'https://github.com/ibraheemdev/modern-unix',
 'https://github.com/klezVirus/inceptor',
 'https://github.com/0x727/SqlKnife_0x727',
 'https://github.com/mytechnotalent/Reverse-Engineering',
 'https://github.com/sysprog21/lkmpg',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/RasaHQ/rasa',
 'https://github.com/geekxh/hello-algorithm',
 'https://github.com/terraform-aws-modules/terraform-aws-eks',
 'https://github.com/riscv2os/riscv2os',
 'https://github.com/0x727/ShuiZe_0x727',
 'https://github.com/ryanmcdermott/clean-code-javascript',
 'https://github.com/vlang/v',
 'https://github.com/MunGell/awesome-for-beginners',
 'https://github.com/doocs/jvm',
 'https://github.com/JetBrains/compose-jb',
 'https://github.com/eugenp/tutorials']

In [66]:
name=[]
desc=[]
cont=[]
lang=[]

for i in (range(len(url))):
    driver.get(ul[i])
    time.sleep(2)
    
    # Scraping name of repository
    try:
        nm=driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
        name.append(nm.text.replace("\n",""))
        
    except NoSuchElementException:  #handling no such element exception
        name.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        name.append("No Data found")
        
    # Scraping description of repository
    try:
        desc_t=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        desc.append(desc_t.text.replace("\n",""))
        
    except NoSuchElementException:  #handling no such element exception
        desc.append("No Data found")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        desc.append("No Data found")
        
        # Scraping contributers count in repository
    try:
        cont_t=driver.find_element_by_xpath("(.//*[contains(text(),'Contributors')])/following::span")
        cont.append(cont_t.text.replace("\n",""))
        
    except NoSuchElementException:  #handling no such element exception
        cont.append("No Data found")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        cont.append("No Data found")

        # Scraping language used in repository
    try:
        lng_t=driver.find_element_by_xpath("//a[@class='d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3']")
        lang.append(lng_t.text.replace("\n",""))
        
    except NoSuchElementException:  #handling no such element exception
        lang.append("No Data found")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        lang.append("No Data found")

print(name)
print(desc)
print(cont)
print(lang)

['commaai/openpilot', 'Azure/azure-sdk-for-net', 'bytedance/Fastbot_iOS', 'clouDr-f2e/rubick', 'MoienTajik/AspNetCore-Developer-Roadmap', 'microsoft/ML-For-Beginners', 'apache/pinot', 'SigmaHQ/sigma', 'ibraheemdev/modern-unix', 'klezVirus/inceptor', '0x727/SqlKnife_0x727', 'mytechnotalent/Reverse-Engineering', 'sysprog21/lkmpg', 'microsoft/PowerToys', 'RasaHQ/rasa', 'geekxh/hello-algorithm', 'terraform-aws-modules/terraform-aws-eks', 'riscv2os/riscv2os', '0x727/ShuiZe_0x727']
['openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.', 'This repository is for active development of the Azure SDK for .NET. For consumers of the SDK we recommend visiting our public developer docs at https://docs.microsoft.com/en-us/dotnet/azure/ or our versioned developer docs at https://azure.github.io/azure-sdk-for-net.', 'About Fastbot(2.0) is a model-based testing tool for modeling GUI transitions to discover app stability problems', '基于 electron 的开源工具箱，自由集成丰富插件。', 'Roadmap to becoming an ASP.NET Core developer in 2021', '12 weeks, 25 lessons, 50 quizzes, classic Machine Learning for all', 'Apache Pinot (Incubating) - A realtime distributed OLAP datastore', 'Generic Signature Format for SIEM Systems', 'A collection of modern/faster/saner alternatives to common unix commands.', 'Template-Driven AV/EDR Evasion Framework', '适合在命令行中使用的轻巧的SQL Server数据库安全检测工具', 'A FREE comprehensive reverse engineering course covering x86, x64, 32-bit ARM & 64-bit ARM architectures.', 'The Linux Kernel Module Programming Guide (updated for 5.x kernels)', 'Windows system utilities to maximize productivity', 'Open source machine learning framework to automate text- and voice-based conversations: NLU, dialogue management, connect to Slack, Facebook, and more - Create chatbots and voice assistants', '针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_汇总 | 附：1、千本开源电子书 2、百张技术思维导图（项目花了上百小时，希望可以点 star 支持，感谢~）', 'Terraform module to create an Elastic Kubernetes (EKS) cluster and associated worker instances on AWS', '從 RISC-V 處理器到 UNIX 作業系統', '信息收集自动化工具']
['', '', 'No Data found', 'muwoo 木偶', '', '', '', '', '', 'No Data found', 'No Data found', 'No Data found', '', '', '', '', '', 'ccckmit 陳鍾誠', 'No Data found']
['C++50.0%', 'C#91.1%', 'Objective-C75.4%', 'JavaScript62.0%', 'No Data found', 'Jupyter Notebook99.4%', 'Java96.4%', 'Python97.8%', 'No Data found', 'Assembly69.9%', 'C++51.2%', 'C100.0%', 'TeX99.4%', 'C#49.8%', 'Python99.3%', 'Java100.0%', 'HCL85.7%', 'No Data found', 'Python99.8%']

In [67]:
# Creating DataFrame
repo=pd.DataFrame()
repo["Name"]=name
repo["Description"]=desc
repo["Language"]=lang
repo["Contributers_count"]=cont
repo.head()

,Name,Description,Language,Contributers_count
0,commaai/openpilot,openpilot is an open source driver assistance ...,C++50.0%,
1,Azure/azure-sdk-for-net,This repository is for active development of t...,C#91.1%,
2,bytedance/Fastbot_iOS,About Fastbot(2.0) is a model-based testing to...,Objective-C75.4%,No Data found
3,clouDr-f2e/rubick,基于 electron 的开源工具箱，自由集成丰富插件。,JavaScript62.0%,muwoo 木偶
4,MoienTajik/AspNetCore-Developer-Roadmap,Roadmap to becoming an ASP.NET Core developer ...,No Data found,

In [68]:
driver.close()

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [69]:
driver= webdriver.Chrome("chromedriver.exe")

# Getting url
url= "https://www.billboard.com"
driver.get(url)

In [70]:
drop= driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a")
drop.click()

In [71]:
# Scraping Song name
name=[]
try:
    nm=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Data found")

In [72]:
# Scraping song artist
artst=[]
try:
    artst_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in artst_tag:
        artst.append(i.text)

except NoSuchElementException:  #handling no such element exception
    artst.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    artst.append("No Data found")

In [73]:
# scraping rank of song last week
lw=[]
try:
    lw_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[1]")
    for i in lw_tag:
        lw.append(i.text)

except NoSuchElementException:  #handling no such element exception
    lw.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    lw.append("No Data found")

In [74]:
# scraping peak rank of song
pk=[]
try:
    pk_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[2]")
    for i in pk_tag:
        pk.append(i.text)

except NoSuchElementException:  #handling no such element exception
    pk.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    pk.append("No Data found")

In [75]:
# scraping for week on chart
woc=[]
try:
    woc_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[3]")
    for i in woc_tag:
        woc.append(i.text)

except NoSuchElementException:  #handling no such element exception
    woc.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    woc.append("No Data found")

In [76]:
## Creating a data frame
Top100_songs=pd.DataFrame()
Top100_songs["Song Name"]=name
Top100_songs["Artist"]=artst
Top100_songs["LastWeek Rank"]=lw
Top100_songs["Peak Rank"]=pk
Top100_songs["Weeks on Chart"]=woc
Top100_songs.head()

,Song Name,Artist,LastWeek Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1 LW,1 Pk,10 WoC
1,Industry Baby,Lil Nas X & Jack Harlow,,2 Pk,1 WoC
2,Good 4 U,Olivia Rodrigo,2 LW,1 Pk,11 WoC
3,Stay,The Kid LAROI & Justin Bieber,4 LW,3 Pk,3 WoC
4,Levitating,Dua Lipa Featuring DaBaby,3 LW,2 Pk,43 WoC

In [77]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [78]:
driver= webdriver.Chrome("chromedriver.exe")

In [79]:
url="https://www.naukri.com"
driver.get(url)

In [80]:
new_pg=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
new_page=new_pg.get_attribute("href")

In [81]:
driver.get(new_page) # to open recruiters page
time.sleep(2)

search=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search.send_keys("Data Science")

btn=driver.find_element_by_id("qsbFormBtn")
btn.click()

In [82]:
urls=[]
url_t=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url_t:
    urls.append(i.get_attribute("href"))

In [83]:
name=[]
desg=[]
comp_name=[]
skills=[]
loc=[]

for i in (range(len(urls))):
    driver.get(urls[i])
    time.sleep(3)
    
    # Scraping Recruiter's name
    try:
        nm=driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']")
        name.append(nm.text)

    except NoSuchElementException:  #handling no such element exception
        name.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        name.append("No Data found")

    # Scraping Designation of recruiter
    try:
        desg_t=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']")
        desg.append(desg_t.text)

    except NoSuchElementException:  #handling no such element exception
        desg.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        desg.append("No Data found")

    # Scraping Company of recruiter
    try:
        comp=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[4]")
        comp_name.append(comp.text)

    except NoSuchElementException:  #handling no such element exception
        comp_name.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        comp_name.append("No Data found")

    # Scraping skills they hire for
    try:
        skl=driver.find_element_by_xpath("//div[@class='fl lPortn']/p")
        skills.append(skl.text)

    except NoSuchElementException:  #handling no such element exception
        skills.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        skills.append("No Data found")
        
    # Scraping location of recruiter
    try:
        loc_t=driver.find_element_by_xpath("//div[@class=''rFrame fl infoWrapper']/div[5]")
        loc.append(loc_t.text)
    
    except NoSuchElementException:  #handling no such element exception
        loc.append("No Data found")
    
    except StaleElementReferenceException:  #handling Stale element exception
        loc.append("No Data found")

In [84]:
# Creating Data frame
Recruiters=pd.DataFrame()
Recruiters["Name"]=name
Recruiters["Designation"]=desg
Recruiters["Company"]=comp_name
Recruiters["Location"]=loc
Recruiters["Skills"]=skills
Recruiters.head()

,Name,Designation,Company,Location,Skills
0,Aakash Harit,Aakash Harit\nHR Manager\nData Science Network...,Data Science Network,No Data found,"Classic ASP Developer , Internet Marketing Pro..."
1,No Data found,No Data found,No Data found,No Data found,No Data found
2,shravan Kumar Gaddam,shravan Kumar Gaddam\nCompany Recruiter\nShore...,Shore Infotech India Pvt. Ltd,No Data found,".Net , Java , Data Science , Linux Administrat..."
3,No Data found,No Data found,No Data found,No Data found,No Data found
4,MARSIAN Technologies LLP,MARSIAN Technologies LLP\nCompany HR\nMARSIAN ...,MARSIAN Technologies LLP,No Data found,"Mid Level, Junior Level"

In [85]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [86]:
driver= webdriver.Chrome("chromedriver.exe")

In [87]:
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(Url)

In [88]:
# Scraping Book name
name=[]
try:
    nm=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Data found")

In [89]:
# Scraping author name
author=[]
try:
    auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in auth:
        author.append(i.text)

except NoSuchElementException:  #handling no such element exception
    author.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    author.append("No Data found")

In [90]:
# Scraping Volumes sold
vol_sold=[]
try:
    vol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in vol:
        vol_sold.append(i.text)

except NoSuchElementException:  #handling no such element exception
    vol_sold.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    vol_sold.append("No Data found")

In [91]:
# Scraping Publisher name
pub=[]
try:
    pub_t=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in pub_t:
        pub.append(i.text)

except NoSuchElementException:  #handling no such element exception
    pub.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    pub.append("No Data found")

In [92]:
# Scraping genre of book
gnr=[]
try:
    gnr_t=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in gnr_t:
        gnr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    gnr.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    gnr.append("No Data found")

In [93]:
# Creating Data Frame
Books_Sold=pd.DataFrame()
Books_Sold["Book_Name"]=name
Books_Sold["Author"]=author
Books_Sold["Volume Sold"]=vol_sold
Books_Sold["Publisher"]=pub
Books_Sold["Genre"]=gnr
Books_Sold.head()

,Book_Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

In [94]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [95]:
driver= webdriver.Chrome("chromedriver.exe")

In [96]:
url="https://www.imdb.com/list/ls095964455"
driver.get(url)

In [97]:
# Scraping TV Show name
name=[]
try:
    nm=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Data found")

# Scraping span time of Tv show
spn_tm=[]
try:
    spn=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in spn:
        spn_tm.append(i.text)

except NoSuchElementException:  #handling no such element exception
    spn_tm.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    spn_tm.append("No Data found")

# Scraping genre of book
gnr=[]
try:
    gnr_t=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in gnr_t:
        gnr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    gnr.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    gnr.append("No Data found")

# Scraping runtime of TV Show
rntm=[]
try:
    rntm_t=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in rntm_t:
        rntm.append(i.text)

except NoSuchElementException:  #handling no such element exception
    rntm.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    rntm.append("No Data found")

# Scraping rating of TV Show
rtng=[]
try:
    rt=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
    for i in rt:
        rtng.append(i.text)

except NoSuchElementException:  #handling no such element exception
    rtng.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    rtng.append("No Data found")

# Scraping number of votes
votes=[]
try:
    vt=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
    for i in vt:
        votes.append(i.text)

except NoSuchElementException:  #handling no such element exception
    votes.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    votes.append("No Data found")

In [98]:
# Creating Dataframe
TV_Shows=pd.DataFrame()
TV_Shows["Name"]=name
TV_Shows["Span Time"]=spn_tm
TV_Shows["Genre"]=gnr
TV_Shows["RunTime"]=rntm
TV_Shows["Ratings"]=rtng
TV_Shows["Number_of_votes"]=votes
TV_Shows.head()

,Name,Span Time,Genre,RunTime,Ratings,Number_of_votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,849,399"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"886,678"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,284"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,579"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,072"

In [99]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [100]:
driver= webdriver.Chrome("chromedriver.exe")

In [101]:
Url = "https://archive.ics.uci.edu"
driver.get(Url)

In [102]:
btn=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
btn.click()

In [103]:
# Scraping name of datasets
name=[]
try:
    nm=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Data found")

# Scraping Data types
type_=[]
try:
    typ=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in typ:
        type_.append(i.text)

except NoSuchElementException:  #handling no such element exception
    type_.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    type_.append("No Data found")

# Scraping default task
task=[]
try:
    tsk=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in tsk:
        task.append(i.text)

except NoSuchElementException:  #handling no such element exception
    task.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    task.append("No Data found")

# Scraping type of attributes
type_attr=[]
try:
    typ_attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in typ_attr:
        type_attr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    type_attr.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    type_attr.append("No Data found")

# Scraping Number of instances
inst=[]
try:
    inst_t=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in inst_t:
        inst.append(i.text)

except NoSuchElementException:  #handling no such element exception
    inst.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    inst.append("No Data found")

# Scraping Number of attributes
attr=[]
try:
    attr_t=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attr_t:
        attr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    attr.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    attr.append("No Data found")

# Scraping year 
year=[]
try:
    yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in yr:
        year.append(i.text)

except NoSuchElementException:  #handling no such element exception
    year.append("No Data found")
    
except StaleElementReferenceException:  #handling Stale element exception
    year.append("No Data found")

In [104]:
## Creating dataframe
DataSets=pd.DataFrame()
DataSets["Name"]=name
DataSets["Data Type"]=type_
DataSets["Default task"]=task
DataSets["Attribute type"]=type_attr
DataSets["Number of instances"]=inst
DataSets["Number of attributes"]=attr
DataSets["Year"]=year
DataSets.head()

,Name,Data Type,Default task,Attribute type,Number of instances,Number of attributes,Year
0,Data Types,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Multivariate,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,,,Recommender-Systems,Categorical,37711,294,1998

In [105]:
driver.close()